@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
body {
  @apply m-0 p-0 box-border bg-[#090909];
  color-scheme: dark;
}

/* body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
} */

h1 {
  font-size: max(2.5em, 8vw);
  font-weight: 700;
  line-height: 1;
}

h2 {
  font-size: clamp(5em, 7.5vw, 7.5em);
  font-weight: 700;
  line-height: 1.1;
}

h3 {
  font-size: max(1.5em, 2.5vw);
}

h5 {
  font-size: max(1em, 1.2vw);
  line-height: 1.5;
}
::-moz-selection {
  @apply text-zinc-900 bg-orange-600;
}
::selection {
  @apply text-zinc-900 bg-orange-600;
}

.burgerButton {
  @apply fixed sm:top-10 sm:right-10 top-3 right-3 w-16 h-16 rounded-full flex items-center justify-center;
}
.burgerButton .burger {
  @apply w-full;
}
.burgerButton .burger::after,
.burgerButton .burger::before {
  content: "";
  @apply block w-6 bg-gray-900 h-[1px] m-auto relative duration-300 ease-out;
}
.burgerButton .burger::after {
  top: -4px;
}
.burgerButton:hover .burger::after {
  top: 4px;
}
.burgerButton .burger::before {
  top: 4px;
}
.burgerButton:hover .burger::before {
  top: -4px;
}
.burgerButton .burgerActive::after {
  top: 1px;
  transform: rotate(45deg);
}
.burgerButton .burgerActive::after,
.burgerButton:hover .burgerActive::after {
  top: 0px;
  transform: rotate(45deg);
}
.burgerButton .burgerActive::before,
.burgerButton:hover .burgerActive::before {
  top: 1px;
  transform: rotate(-45deg);
}
.gradient-text {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}
@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
